<section class="instruction">
	<p> Answer through the questions below to find out the date of your final exam. 
	Repeat if you want to get more than one date! To download or view your calendar just click the button at the top of the page.
</section>
<div class="card">
	<p class="lead" style="font-size: 20px;">For how many hours does your class regularly meet?
	</p>
	<div class="row-fluid">
		<button type="button" 
		        class="btn btn-info span6" 
		        style="margin-bottom: 15px;"
		        ui-sref="classLength({hours: 3})">
		            3 hours a week
		</button>
		<button
				type="button"
		        class="btn btn-info span6"
		        ng-click="weeklySchedule(4)"
		        style="margin-bottom: 15px;"
		        ui-sref="classLength({hours: 4})">
		            4 hours a week
		</button>
	</div>
</div>
