<section id="pheader" ng-if="classes.length > 0">
<table class="table" style="width: 100%;">
	<tr>
		<th><p class="lead">If your class meets</p></th>
		<th><p class="lead">Your exam schedule</p></th>
	</tr>
	<tr ng-repeat="class in classes">
		<td><p>{{class.classHours}} </td>
		<td><p>{{class.examDate | date:'EEEE, MMMM d' }}</p> 
			<p>{{class.examSched}}
			</td>
	</tr>
</table>
<button class='btn btn-success' style="font-size: 18px; margin-bottom: 15px; margin: auto;" ng-click="jumpback()">try again!</button>
</section>