<div class="card" style="position: relative" ng-controller="schedCtrl" ui-view>
			
		<p class="lead" style="font-size: 20px;">For a class that meets {{length}} hours a week, which days do you meet ?</p>
		
		<div class="row-fluid">
		    <button class="btn btn-secondary span3"
		            ng-repeat="sched in schedule"
		            ng-if="belowFour($index) || $first == true"
		            ng-click="getClasses(sched)"
		            style="margin-bottom: 10px;"
		            ui-sref="classLength.schedule({schedule:'{{sched}}'})"
		            >
		            {{sched}}
		    </button>
		</div>
		<div class="row-fluid">
		    <button class="btn btn-secondary span3"
		            ng-repeat="sched in schedule"
		            ng-if="belowSeven($index)"
		            ng-click="getClasses(sched)"
		            style="margin-bottom: 10px;"
		            ui-sref="classLength.schedule({schedule:'{{sched}}'})"
		            >
		            {{sched}}
		    </button>
		</div>
</div>

<div class="card" style="position: relative;">
	<button class='btn btn-success' 
		style="font-size: 18px;" 
		ng-click="jumpback()">
		start over
	</button>

	<button class='btn btn-info' 
		style="font-size: 18px; float:right;" 
		ng-hide="length == 0"
		ng-click="jumpfwd()">
		View Calendar
	</button>
</div>


