<div ng-controller="schedCtrl" ui-view>

	<p class="lead" style="font-size: 16px;">Which days do you meet?</p>
		<div class="row-fluid">
		    <button class="btn btn-secondary span3"
		            ng-repeat="sched in schedule"
		            ng-if="belowFour($index) || $first == true"
		            ng-click="getClasses(sched)"
		            style="margin-bottom: 10px;"
		            ui-sref="classLength.schedule({schedule:'{{sched}}'})"
		            >
		            {{sched}}
		    </button>
		</div>
		<div class="row-fluid">
		    <button class="btn btn-secondary span3"
		            ng-repeat="sched in schedule"
		            ng-if="belowSeven($index)"
		            ng-click="getClasses(sched)"
		            style="margin-bottom: 10px;"
		            ui-sref="classLength.schedule({schedule:'{{sched}}'})"
		            >
		            {{sched}}
		    </button>
		</div>	
</div>

