body{
  background-color: #ededed;
}

#checkmark
{ 
  float: right;
  margin-top: 15px;
  height: 25px;
  width: 25px;
}


/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}


/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
    }
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  position: relative;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  border-radius: 5px;
	width: auto;
	max-width: 680px;
  min-height: 600px;
  max-height: 100%;
  background-color: #fafafa;
  font-family: 'Open-Sans', sans-serif;
}

#page-header{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(16,108,200);
    padding-top: 1px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#ui-view{
  padding-left: 5px;
  padding-right: 5px;
  font-family: 'Open-Sans', sans-serif;
}

/*Home Section */

.card{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  border-radius: 1px;
  padding: 15px;
  margin: 0 0 10px 0;
}

.instruction{
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)!important;
  background-color: #D9EAF2;
  border-radius: 1px;
  padding: 15px;
  margin: 0 0 10px 0;
  font-size: 15px !important;
}

